
@font-face {
    font-family: 'gilroy';
    src: url('fonts/gilroyextrabold-webfont.woff2');
    font-weight: 800;
    font-style: normal;

}


@font-face {
    font-family:"gilroy";
    src: url('fonts/gilroylight-webfont.woff2');
    font-weight: 300;
    font-style: normal;

}


*,h1{
  margin: 0;
  padding:0;
}
html,
body{
  min-width: 1160px;
  min-height: 2070px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "opensans", sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #000000;
}


a {
  text-decoration: none;
}

link{
  color: #000000;
}


.logo__text{

font-family: "gilroy";
text-transform: uppercase;
font-size: 48px;
font-weight: 800;
letter-spacing: 1px;

 transform: translateY(-50%);
}

.logo[href]:hover{
opacity: 0.6;
}

.logo[href]:active{
opacity: 0.3;

}

.navigation-paragraph{
  font-family:"opensans", sans-serif;
  font-weight: 100;
  color: #000000;

  font-size: 15px;
  line-height: 36px;

}

.navigation-capital {
  font-family:"gilroy", sans-serif;
  font-weight: 700;
  color: #000000;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 5px;

  font-size: 16px;
  z-index:999;

}



.search__input{
 border: none;
 background-color: #f7e296;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000 ;
    opacity: 0.3;
    font-family:"opensans", sans-serif;
    font-weight: 100;

}

.site-main-navigation-list{
  list-style: none;

}
.site-navigation-item{
  list-style: none;
}


.site-navigation-box{
  width:100%;
  display:flex;
  align-items: baseline;



}
.site-navigation-box-left{
justify-content: flex-start;
width:50%;
padding-right: 10px;



}
.site-navigation-box-right{
  display:flex;
  width:50%;

  justify-content: flex-end;
  padding-left: 10px;
}


.site-navigation-dropdown-item-dropdown{
  list-style: none;
  text-transform: capitalize;
  letter-spacing: 0px;
  line-height: 36px;

  display:flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.site-main-navigation{
  text-transform: lowercase;

}

.menu-plus{
  border:none;
  background-color:#f7e296;
  opacity:0.3;
}


.slider__title{

  font-family: "gilroy";
  text-transform: uppercase;
  font-size: 179.2px;
  font-weight: 800;
  letter-spacing: 1px;
  color: black;


  z-index: 3;
  color:white;
}

.line{
  background-color: white;
  width:100px;
  height:7px;


}

.main-header{
  font-family: "gilroy";
  font-size: 47px;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.paragraph{
  font-family:"opensans", sans-serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #000000;
}

.btn{

  border: none;
  width:220px;
  position: relative;
}

.btn-text{
  font-family:"gilroy", sans-serif;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5px;
  z-index: 2;
  position: relative;

}
.btn::after{
  position: absolute;
  content:"";
  background-color: #f0c52e;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}

.btn-short{

  border: none;
  width:160px;
  position: relative;
  background:transparent;


}
.btn-short::after{
  position: absolute;
  content:"";
  background-color: #f0c52e;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}

.btn-long{

  border: none;
  width:260px;
  position: relative;
  background:transparent;


}
.btn-long::after{
  position: absolute;
  content:"";
  background-color: #f0c52e;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}

.btn-popup{

  border: none;
  width:260px;
  position: relative;
  background:transparent;
}

.btn-popup::after{
  position: absolute;
  content:"";
  background-color: #f0c52e;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}

.btn-catalog{
  border: none;
  width:200px;
  position: relative;
  background:transparent;
}

.btn-catalog::after{
  position: absolute;
  content:"";
  background-color: #f0c52e;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}


.slider__item-characteristics-title{
  list-style: none;
}


.item__caracteristics-title{
  font-family:"gilroy", sans-serif;
  font-weight: 100;
  color: #000000;
  font-size: 36px;
  line-height:normal;
  letter-spacing: 0.5;

}


.slider__nav-btn{
  border: none;

}
.hidden{
  display: none;
}
.categories__list{
  list-style: none;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1160px;
  margin-top: 70px;
  margin-bottom: 60px;
}

.categories__item-bcgrnd{
  background-color: #f7e296;
  width: 160px;
  height: 160px;
  display:flex;
  align-items: center;
  justify-content: center;

}
.categories__text{
  font-family:"gilroy", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height:normal;
  letter-spacing: 0.5;
  width:160px;
  margin-top:30px;

}

.switcher__nav-button-active{
  font-family:"gilroy", sans-serif;
  font-weight: 700;
  color: #f7e184;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 5px;

  border: none;
  text-align: bottom;
  background-color: #000000;
  width:278px;
  height:40px;

}
.switcher{
  background:linear-gradient(to bottom, rgba(0,0,0,0) 30%,rgba(229,229,229,1) 30%,rgba(229,229,229,1) 30%);
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.line__vertical{
  height:319px;
  width: 7px;
  background-color: #000000;
}

.brands__logo-list{
  list-style: none;
  margin-top: 110px;
  margin-bottom: 110px;

  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.line__black-about{
    background-color: black;
    width:80px;
    height:7px
  }
  .line__black-contact{
      background-color: black;
      width:80px;
      height:7px
    }

  .paragraph-title{
    font-family:"gilroy", sans-serif;
    font-size: 15px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #000000;
    }

    .info__about-list{
      list-style: none;
      margin-bottom:130px;
    }


.footer{
    background-color:#464646;
    padding-top: 70px;
    padding-bottom: 75px;
}


.paragraph_footer{
  color:white;
  margin-bottom:80px;

}
.footer__wrapper-nav-list{
  list-style: none;
}

.footer__social-list{
  list-style: none;
}
.footer__social-item{
  opacity: 30%;
}
.footer__wrapper-user-nav-list{
  list-style: none;
}
.navigation-footer{
  color: white;
}

.icon__nav-footer-vector{
  color:#ffc600;
}
.footer__wrapper-user-item{
  color: white;
}
.footer__wrapper-compare-item{
  color: white;
}
.footer__wrapper-cart-item{
  color: white;
}
.footer__wrapper-phone{
  color: white;
}

.paragraph__footer{
  font-family:"opensans", sans-serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: white;

}
.popup__btn-close{
border: none;
background: none;
align-self: flex-end;
}

.popup-writeus{
 box-shadow: 0 10px 20px rgba(4,6,6,0.2);

}
.label__popup{
  font-family: "gilroyextrabold", sans-serif;
  font-size: 18px;
  font-weight: 800;

}
.popup__form-input{
   border: none;
   background-color: #f2f2f2;

  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(30 30 30 0.4);
      opacity: 0.3;
      font-family:"opensans", sans-serif;
      font-weight: 100;
      font-size: 14px;
  }


  .inner__page{
    font-family: "opensans", sans-serif;
    font-weight: 100;
    font-size:14px;
    color: #000000;
  }

  .bredcrumbs-item{
  opacity: 0.3;
  }

  .sub-header{
    font-family:"gilroy", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 4px;

}

.filters{

  background-color: #efefef;

}
.subheader-container-filter{
  /*
    background-color: #dcdcdc;
    */
  }

.subheader-container-sort{
  /*
  background-color: #ebebeb;
  */
}

.range-box{
  position:relative;
}

.range-field-btn{

  position: absolute;
  transform: translate Y(-50%);

  height: 20px;
  width: 23px;

  background-image: url(../img/filter-button.svg);
  background-repeat:no-repeat;
  background-size: 20px 23px;
  background-color: transparent;
  border: none;
}

.range-slider{
    -webkit-appearance: none;
    width: 196px;
    height: 2px;
    border:none;
    background: #dbdbdb;
    outline: none;

}

.range-field{
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 0;
    background: url('#');
    cursor: pointer;
}


 .filter__divider{
   width: 201px;
   height: 2px;
   background-color: #000000;
}

.filters__checkbox-list{
  list-style: none;
  display: inline-block;
 *display: inline; /* inline-block ie7 fix */
 *zoom: 1;
 vertical-align: top;
 position: relative;
 cursor: pointer;
}

.filters__checkbox-item{

 vertical-align: top;
 position: relative;
 cursor: pointer;

}

.filters__checkbox-item input{
  width: 23px;
 height:23px;
 margin: 0;
 padding: 0;
 position: absolute;
 left: 0;
 top: 50%;
 margin-top: -20px;
 cursor: pointer;
 z-index: 10;
 opacity: 0;


}

.filters__checkbox-item label{

    line-height: 30px;
    display: block;
    padding-left: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;


}
.filters__checkbox-item label:before{
  display: block;
  position: absolute;
  left: 0;
  top: 50%;

  width: 23px;
  height: 23px;
  margin-top: -11.5px;
  background: rgba(0, 0, 0, 0) url(../img/checkbox-off.svg) no-repeat;
  z-index: 5;
  content: '';

}

.filters__checkbox-item-checked input{
  width: 25px;
 height: 25px;
 margin: 0;
 padding: 0;
 position: absolute;
 left: 0;
 top: 50%;
 margin-top: -20px;
 cursor: pointer;
 z-index: 10;
 opacity: 0;


}

.filters__checkbox-item-checked label{

    line-height: 30px;
    display: block;
    padding-left: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;


}
.filters__checkbox-item-checked label:before{
  display: block;
  position: absolute;
  left: 0;
  top: 50%;

  width: 25px;
  height: 25px;
  margin-top: -11.5px;
  background: rgba(0, 0, 0, 0) url(../img/checkbox-on.svg) no-repeat;
  z-index: 5;
  content: '';

}


.filters__radio-list{
  list-style: none;
  display: inline-block;
 *display: inline; /* inline-block ie7 fix */
 *zoom: 1;
 vertical-align: top;
 position: relative;
 cursor: pointer;
}

.filters__radio-item{

 vertical-align: top;
 position: relative;
 cursor: pointer;

}

.filters__radio-item input{
  width:25px;
 height:25px;
 margin: 0;
 padding: 0;
 position: absolute;
 left: 0;
 top: 50%;
 margin-top: -20px;
 cursor: pointer;
 z-index: 10;
 opacity: 0;


}

.filters__radio-item label{

    line-height: 30px;
    display: block;
    padding-left: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;


}
.filters__radio-item label:before{
  display: block;
  position: absolute;
  left: 0;
  top: 50%;

  width: 25px;
  height: 25px;
  margin-top: -11.5px;
  background: rgba(0, 0, 0, 0) url(../img/radio-off.svg) no-repeat;
  z-index: 5;
  content: '';

}

.filters__radio-item-checked{
 vertical-align: top;
 position: relative;
 cursor: pointer;

}

.filters__radio-item-checked input{
  width:25px;
 height:25px;
 margin: 0;
 padding: 0;
 position: absolute;
 left: 0;
 top: 50%;
 margin-top: -20px;
 cursor: pointer;
 z-index: 10;
 opacity: 0;


}

.filters__radio-item-checked label{

    line-height: 30px;
    display: block;
    padding-left: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;


}
.filters__radio-item-checked label:before{
  display: block;
  position: absolute;
  left: 0;
  top: 50%;

  width: 25px;
  height: 25px;
  margin-top: -11.5px;
  background: rgba(0, 0, 0, 0) url(../img/radio-on.svg) no-repeat;
  z-index: 5;
  content: '';

}

.sort__list{
  list-style:none;
}
.sort__icon-off{
color:#231f20;
  opacity: 0.2;
  border: none;
  background-color: transparent;

}
.sort__icon-on{
color: #231f20;
border:none;
background-color: transparent;

}


.catalogue__item-title{
  font-family: "gilroyextrabold", sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.catalogue__item-price{
  font-family:"gilroylight", sans-serif;
  font-size: 16px;
  font-weight: 100;

}

.catalogue__item{
  position: relative;

}

.catalogue__item-hover{
  display: none;
  position: relative;
  width: 379px;
	height: 360px;
}

.catalogue__item-main:hover ~ .catalogue__item-hover{

  display: block;
  background-color: #eeeeee;
  opacity: 0.7;
	position: absolute;
	width: 379px;
	height: 360px;
	top: 0;
	left: 0;

}
.add-to-cart{
  border: none;
  width:260px;
  position: relative;
  background:transparent;

}

.add-to-cart::after{
  position: absolute;
  content:"";
  background-color: #f0c52e;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}


.add-to-comapre{
 font-family: "opensans" sans-serif;
  font-size: 13px;
  opacity: 0.5;
}
.catalogue__item{
  position:relative;
}

.new-label{
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 50px;

  width: 60px;
  height:60px;
  position:absolute;
}
.new-label-text{
text-transform: uppercase;
font-family: "gilroyextrabold", sans-serif;
font-size: 18px;
font-weight: 800;
color: rgba(0,0,0,0.1);

}

.pagination__body{
  list-style: none;
  background-color: #ebebeb;
}
.pagination__forward, .pagination__back, .pagination__page{
font-family:"gilroy", sans-serif;
font-size: 16px;
font-weight: 700;
color: #000000;
line-height: 27px;
text-transform: uppercase;
letter-spacing: 4px;
}

.pagination_passive{
  color:rgba(0, 0, 0, 0.3)
}



.container{
  width:1160px;
  margin:0 auto;
}

.main-navigator{
  display: flex;
  flex-direction:column;
  position:relative;
  min-height: 300px;
  margin-top:40px;

  font-size: 15px;
  font-weight: 700;
  background-color:#f7e296;
  padding-left: 60px;
  padding-right:60px;
  }



.site-navigation{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transform: translateY(-50%);
}

.site-navigation-item{
  display:flex;
}

.item-search{
  align-self: flex-start;



}
.item-login{
  flex-grow:10;


}


.item-login:hover{
  opacity:0.6;
}
.item-login:active{
  opacity:0.3;
}

.item-compare{
  flex-grow:3;



}

.item-compare:hover{
  opacity:0.6;
}
.item-compare:active{
  opacity:0.3;
}



.item-cart{

  align-self: flex-end;

}



.item-cart:hover{
  opacity:0.6;
}
.item-cart:active{
  opacity:0.3;
}








.site-main-navigation-list ul {

  width: 100%;
  margin-top: 20px;

  display: none;
  z-index:999;

}

.site-navigation-dropdown-item-dropdown {

  margin-right: 58px;
}


.site-main-navigation-item a {
  cursor: pointer;
  z-index: 2;
}

.site-main-navigation-item:hover ul.site-main-navigation-list-dropdown
{ display: flex;
  background-color: #f7e296;
  z-index:999;
  width:100%

}
.site-main-navigation-list-dropdown{
  list-style: none;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;

  width: 100px;
  height: 140px;
  background-color: #f7e296;
  z-index: 999;
}
.site-navigator-box{
  display:flex;
  width:100%;

  justify-content: flex-end;
  padding-top:10px;


}
.site-navigator-box-left{
  display:flex;
  align-items: baseline;
  justify-content: flex-start;
  width:50%;
  padding-right: 10px;
}
.site-navigator-box-right{
  display:flex;
  justify-content: flex-end;
  width:50%;
  padding-left: 10px;


}


.item-catalogue{

}

.item-delivery{
  flex-grow:1;

}

.item-garancies{

flex-grow:5;
}
.item-contact{
}


.slider__body{

 background: linear-gradient(to bottom, rgba(247,226,150,1) 30%,rgba(0,0,0,0) 30%);
 transform: translateY(-20%);
}
.slider__item{
display:flex;
width:100%;

justify-content: space-between;
width:1040px;
padding-left:60px;
padding-right:60px;

}
.slider__item-header{
  display:flex;
  justify-content:space-between;
  flex-direction:row-reverse;
  align-items: flex-start;
}
.slider__item-img-container{


  flex-grow:1;

  padding-right: 80px;

  }
.slider__item-img{
.navigation-capital

  }
.slider__item-container{

  flex-grow: 10;
}

.header-slider{
  margin-top:40px;
  z-index: 5;
  position:relative;

}

.slider__nav{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  width: 50px;

}

 .slider__list-characteristics{
   display:flex;

 }

.categories__icon{
  align-self: center;
}



.slider-paragraph{
  margin-top:25px;
  margin-bottom:35px;
}



.switcher__nav{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 275px;
  padding-top: 70px;

}
.switcher__nav-button{
  margin-top: 20px;
  margin-bottom: 20px;
}
.switcher__item-container{
  display:flex;
  flex-direction: column;

  margin-right:auto;
  margin-top:70px ;
  margin-bottom:150px ;
  margin-left:120px;

}
.switcher__item-image{
  margin-top:70px ;
  margin-bottom: ;
  margin-left:100px;

}
.switcher__item-text{




}
.switcher-container{
  display:flex;
}
.switcher__item{
  display:flex;
}

.info__icon{
  width:18px;
  height:18px;
  color: #e5e5e5;
}

.info{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 100px;
}
.info-header{
  margin-top: 50px;
  margin-bottom:65px;
}
.info-paragraph{
  padding-bottom: 45px;
}
.about{
  padding-right: 60px;
}
.map{
  margin-bottom:65px;
  margin-top:40px;
}

.logo-footer{
  font-family: "gilroy";
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 1px;
  color: #ffc600;
  margin-bottom:20px;

}

.footer-container{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.footer__wrapper-nav{
  display:flex;
  flex-direction: column;
}
.footer__wrapper-nav-list{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin-top:75px;
}
.footer__social-list{
  display:flex;
  flex-direction:row;
  justify-content: center;
}
.footer__wrapper-user-nav-list{
  display:flex;
}

.footer__wrapper-user-nav{
  display:flex;
  flex-direction: column;

}
.footer__wrapper-logo{
  display:flex;
  flex-direction:column;

  justify-content: flex-start;
}
.footer__wrapper-phone{
  align-self: flex-end;
}
.footer__wrapper-logo-html{
  align-self:flex-end;

}

.footer__line{
  background-color: #ffc600;
  width:80px;
  height:7px

}
.popup-writeus{
  display:flex;
  flex-flow: column;
  width: 760px;
  margin:0 auto;
  padding:100px;
  padding-top:25px;
}
.popup__form{
  display:flex;
  flex-direction:column;
}

.popup-wrapper{
  display:flex;
  justify-content: space-between;

}
.input-wrapper{
  display:flex;
  flex-direction:column;
}
.btn-popup{
 margin-top: 55px;
}
.popup-input-name,.popup-input-email{

 flex-grow: 1;
 width:345px;
 height:50px;
 padding-left: 20px;

}
.popup-textarea{
  margin-top:40px;

}
.popup-map{
  margin:0 auto;

}
.main-header-wrapper{
  margin-top:45px;
  margin-bottom:60px;
  margin-left: 200px;

}
.main-header{
  margin-bottom: 45px;
}
.subheader-container-sort{
  display:flex;

}
.sort__list{
  display:flex;
}
.content-container{
  display:flex;

}
.filters-container{
  padding-left:180px;

}
.catalogue__body{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: 130px;

}

.container-catalog{
  margin-left:180px;
  margin-right:180px;
}
.pagination__body{
  display:flex;



}
