
@font-face {
    font-family: 'gilroy';
    src: url('fonts/gilroyextrabold-webfont.woff2');
    font-weight: 800;
    font-style: normal;

}


@font-face {
    font-family:"gilroy";
    src: url('fonts/gilroylight-webfont.woff2');
    font-weight: 300;
    font-style: normal;

}

*{
  margin: 0;
  padding:0;6
}

body {
  margin: 0;
  padding: 0;
  font-family: "opensans", sans-serif;
  font-size: 15px;;
  line-height: 2;
  font-weight: 700;
  color: #000000;
}


a {
  text-decoration: none;
}

link{
  color: #000000;
}


/* --------menu-end*/

.logo{
font-family: "gilroy";
text-transform: uppercase;
font-size: 48px;
font-weight: 800;
letter-spacing: 1px;
}

.logo:hover{
opacity: 0.6;
}


.logo:active{
opacity: 0.3;

}

.navigation-paragraph{
  font-family:"opensans", sans-serif;
  font-weight: 100;
  color: #000000;

}

.navigation-capital {
  font-family:"gilroy", sans-serif;
  font-weight: 700;
  color: #000000;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.main-navigator {

  font-size: 15px;;
  line-height: 30px;
  font-weight: 700;
  background-color:#f7e296;
}

.search__input{
 border: none;
 background-color: #f7e296;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000000 ;
    opacity: 0.3;
    font-family:"opensans", sans-serif;
    font-weight: 100;
}

.site-main-navigation-list{
  list-style: none;
}
.site-navigation-item{
  list-style: none;
}

.site-main-navigation-list-dropdown{
  list-style: none;
}

.site-navigation-dropdown-item-dropdown{
  list-style: none;
  text-transform: capitalize;
  letter-spacing: 0px;
  line-height: 36px;
}

.site-main-navigation{
  text-transform: lowercase;

}

.main-navigator{
  list-style: none;
}

.login{
  /*---кажется, там нет прозрачности
  opacity: 0.3;*/
}

.menu-plus{
  border:none;
  background-color:#f7e296;
  opacity:0.3;
}
/* --------menu-end*/

/*-----slider*/

.slider__title{

  font-family: "gilroy";
  text-transform: uppercase;
  font-size: 179.2px;
  font-weight: 800;
  letter-spacing: 1px;
  color: black;
}

.slider__item{


}


.line{
  background-color: black;
  width:100px;
  height:7px
}

.main-header{
  font-family: "gilroy";
  font-size: 47px;
  line-height: 54px;
  font-weight: 800;
  letter-spacing: 0.5px;
  color: ;
}

.paragraph{
  font-family:"opensans", sans-serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: #000000;
}

.btn{

  border: none;
  width:220px;
  position: relative;


}

.btn-text{
  font-family:"gilroy", sans-serif;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 5px;
  z-index: 2;
  position: relative;

}
.btn::after{
  position: absolute;
  content:"";
  background-color: #f0c52e;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}

.btn-short{

  border: none;
  width:160px;
  position: relative;
  background:transparent;


}
.btn-short::after{
  position: absolute;
  content:"";
  background-color: #f0c52e;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}

.btn-long{

  border: none;
  width:260px;
  position: relative;
  background:transparent;


}
.btn-long::after{
  position: absolute;
  content:"";
  background-color: #f0c52e;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}

.btn-popup{

  border: none;
  width:260px;
  position: relative;
  background:transparent;


}
.btn-popup::after{
  position: absolute;
  content:"";
  background-color: #f0c52e;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}

.btn-catalog{

  border: none;
  width:200px;
  position: relative;
  background:transparent;
}

.btn-catalog::after{
  position: absolute;
  content:"";
  background-color: #f0c52e;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}





.slider__item-characteristics-title{
  list-style: none;
}


.item__caracteristics-title{
  font-family:"gilroy", sans-serif;
  font-weight: 100;
  color: #000000;
  font-size: 36px;
  line-height:normal;
  letter-spacing: 0.5;

}

.slider__item-caracteristics-text{
}

.slider__nav-btn{
  border: none;

}
.hidden{
  display: none;
}
.categories__list{
  list-style: none;
}
.categories__item-bcgrnd{
  background-color: #f7e296;
  width: 160px;
  height: 160px;

}
.categories__text{
  font-family:"gilroy", sans-serif;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  line-height:normal;
  letter-spacing: 0.5;

}

.switcher__nav-button-active{
  font-family:"gilroy", sans-serif;
  font-weight: 700;
  color: #f7e184;
  line-height: 27px;
  text-transform: uppercase;
  letter-spacing: 5px;

  border: none;
  text-align: bottom;
  background-color: #000000;
  width:278px;
  height:40px;

}
.switcher{
  background-color: #e5e5e5;
}

.line__vertical{
  height:319px;
  width: 7px;
  background-color: #000000;
}

.brands__logo-list{
  list-style: none;
}

.line__black{
    background-color: black;
    width:80px;
    height:7px
  }

  .paragraph-title{
    font-family:"gilroy", sans-serif;
    font-size: 15px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0.5px;
    color: #000000;
    }

    .info__about-list{
      list-style: none;
    }

    /* footer*/


  .footer{
    background-color:#464646;
}


.paragraph_footer{
  color:white;

}
.footer__wrapper-nav-list{
  list-style: none;
}
.footer__wrapper-nav-item{

}

.footer__social-list{
  list-style: none;
}
.footer__social-item{
  opacity: 30%;
}
.footer__wrapper-user-nav-list{
  list-style: none;
}
.navigation-footer{
  color: white;
}

.icon__nav-footer-vector{
  color:#ffc600;
}
.footer__wrapper-user-item{
  color: white;
}
.footer__wrapper-compare-item{
  color: white;
}
.footer__wrapper-cart-item{
  color: white;
}
.footer__wrapper-phone{
  color: white;
}

.paragraph__footer{
  font-family:"opensans", sans-serif;
  font-size: 15px;
  font-weight: 100;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: white;

}
.popup__btn-close{

 border: none;
background: none;
}

.popup-writeus{
 box-shadow: 0 10px 20px rgba(4,6,6,0.2);

}
.label__popup{
  font-family: "gilroyextrabold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
}
.popup__form-input{
   border: none;
   background-color: #f2f2f2;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: rgba(30 30 30 0.4);
      opacity: 0.3;
      font-family:"opensans", sans-serif;
      font-weight: 100;
      font-size: 14px;
  }

  /*----catalog--*/

  .inner__page{
    font-family: "opensans", sans-serif;
    font-weight: 100;
    font-size:14px;
    color: #000000;
  }

  .bredcrumbs-item{
  opacity: 0.3;
  }

  .sub-header{
    font-family:"gilroy", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 4px;

}

.filters{
  background-color: #efefef;
}
.subheader-container-filter{
    background-color: #dcdcdc;
  }

.subheader-container-sort{
  background-color: #ebebeb;
}

.range-box{
  position:relative;
}

.range-field-btn{

  position: absolute;
  transform: translate Y(-50%);



  height: 20px;
  width: 23px;

  background-image: url(../img/filter-button.svg);
  background-repeat:no-repeat;
  background-size: 20px 23px;
  background-color: transparent;
  border: none;
}

.range-slider{
    -webkit-appearance: none;
    width: 196px;
    height: 2px;
    border:none;
    background: #dbdbdb;
    outline: none;

}

.range-field{
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 0;
    background: url('#');
    cursor: pointer;
}


 .filter__divider{
   width: 201px;
   height: 2px;
   background-color: #000000;
}

.filters__checkbox-list{
  list-style: none;
  display: inline-block;
 *display: inline; /* inline-block ie7 fix */
 *zoom: 1;
 vertical-align: top;
 position: relative;
 cursor: pointer;
}

.filters__checkbox-item{

 vertical-align: top;
 position: relative;
 cursor: pointer;

}

.filters__checkbox-item input{
  width: 23px;
 height:23px;
 margin: 0;
 padding: 0;
 position: absolute;
 left: 0;
 top: 50%;
 margin-top: -20px;
 cursor: pointer;
 z-index: 10;
 opacity: 0;


}

.filters__checkbox-item label{

    line-height: 30px;
    display: block;
    padding-left: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;


}
.filters__checkbox-item label:before{
  display: block;
  position: absolute;
  left: 0;
  top: 50%;

  width: 23px;
  height: 23px;
  margin-top: -11.5px;
  background: rgba(0, 0, 0, 0) url(../img/checkbox-off.svg) no-repeat;
  z-index: 5;
  content: '';

}

.filters__checkbox-item-checked input{
  width: 25px;
 height: 25px;
 margin: 0;
 padding: 0;
 position: absolute;
 left: 0;
 top: 50%;
 margin-top: -20px;
 cursor: pointer;
 z-index: 10;
 opacity: 0;


}

.filters__checkbox-item-checked label{

    line-height: 30px;
    display: block;
    padding-left: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;


}
.filters__checkbox-item-checked label:before{
  display: block;
  position: absolute;
  left: 0;
  top: 50%;

  width: 25px;
  height: 25px;
  margin-top: -11.5px;
  background: rgba(0, 0, 0, 0) url(../img/checkbox-on.svg) no-repeat;
  z-index: 5;
  content: '';

}


.filters__radio-list{
  list-style: none;
  display: inline-block;
 *display: inline; /* inline-block ie7 fix */
 *zoom: 1;
 vertical-align: top;
 position: relative;
 cursor: pointer;
}

.filters__radio-item{

 vertical-align: top;
 position: relative;
 cursor: pointer;

}

.filters__radio-item input{
  width:25px;
 height:25px;
 margin: 0;
 padding: 0;
 position: absolute;
 left: 0;
 top: 50%;
 margin-top: -20px;
 cursor: pointer;
 z-index: 10;
 opacity: 0;


}

.filters__radio-item label{

    line-height: 30px;
    display: block;
    padding-left: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;


}
.filters__radio-item label:before{
  display: block;
  position: absolute;
  left: 0;
  top: 50%;

  width: 25px;
  height: 25px;
  margin-top: -11.5px;
  background: rgba(0, 0, 0, 0) url(../img/radio-off.svg) no-repeat;
  z-index: 5;
  content: '';

}

.filters__radio-item-checked{

 vertical-align: top;
 position: relative;
 cursor: pointer;

}

.filters__radio-item-checked input{
  width:25px;
 height:25px;
 margin: 0;
 padding: 0;
 position: absolute;
 left: 0;
 top: 50%;
 margin-top: -20px;
 cursor: pointer;
 z-index: 10;
 opacity: 0;


}

.filters__radio-item-checked label{

    line-height: 30px;
    display: block;
    padding-left: 30px;
    position: relative;
    z-index: 1;
    cursor: pointer;


}
.filters__radio-item-checked label:before{
  display: block;
  position: absolute;
  left: 0;
  top: 50%;

  width: 25px;
  height: 25px;
  margin-top: -11.5px;
  background: rgba(0, 0, 0, 0) url(../img/radio-on.svg) no-repeat;
  z-index: 5;
  content: '';

}



.sort__list{
  list-style:none;
}
.sort__icon-off{
color:#231f20;
  opacity: 0.2;
  border: none;
  background-color: transparent;

}
.sort__icon-on{
color: #231f20;
border:none;
background-color: transparent;

}
/*--- не получается сделать ховер
.catalogue__item{

}
.hover {
  background-color:rgba(238 238 238 0.2);
}

---*/



.catalogue__item-title{
  font-family: "gilroyextrabold", sans-serif;
  font-size: 18px;
  font-weight: 800;
}

.catalogue__item-price{
  font-family:"gilroylight", sans-serif;
  font-size: 16px;
  font-weight: 100;

}

.catalogue__item{
  position: relative;

}


.catalogue__item-hover{
  display: none;
  position: relative;
  width: 379px;
	height: 360px;
}

.catalogue__item-main:hover ~ .catalogue__item-hover{

  display: block;
  background-color: #eeeeee;
  opacity: 0.7;
	position: absolute;
	width: 379px;
	height: 360px;
	top: 0;
	left: 0;

}
.add-to-cart{
  border: none;
  width:260px;
  position: relative;
  background:transparent;

}

.add-to-cart::after{
  position: absolute;
  content:"";
  background-color: #f0c52e;
  height: 8px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}


.add-to-comapre{
 font-family: "opensans" sans-serif;
  font-size: 13px;
  opacity: 0.5;
}
.catalogue__item{
  position:relative;
}

.new-label{
  border: 2px solid rgba(0,0,0,0.1);
  border-radius: 50px;

  width: 60px;
  height:60px;
  position:absolute;
}
.new-label-text{
text-transform: uppercase;
font-family: "gilroyextrabold", sans-serif;
font-size: 18px;
font-weight: 800;
color: rgba(0,0,0,0.1);

}

.pagination__body{
  list-style: none;
  background-color: #ebebeb;
}
.pagination__forward, .pagination__back, .pagination__page{
font-family:"gilroy", sans-serif;
font-size: 16px;
font-weight: 700;
color: #000000;
line-height: 27px;
text-transform: uppercase;
letter-spacing: 4px;
}

.pagination_passive{
  color:rgba(0, 0, 0, 0.3)
}

/*---------разметка---------*/

html,
body{
  min-width: 1160px;
  min-height: 2070px;
}

.container{
  width:1160px;
  margin:0 auto;
}
.container__slider{
padding-right:60px;
padding-left:60px;}


.main-navigator{
  position:relative;
  min-height:265px;
  margin-top:40px;
  padding-top:34px;
  background-color:#f7e296
}

.logo{
  position:absolute;
  top:-15px;
  left:60px;

}

.site-navigation{
  /*----

  margin-bottom: 40px;

  margin-left:60px;
  margin-right: 60px;



  display: flex;
  flex-flow: row;

---*/

}
.site-navigation-item{
  display:inline-block;
  vertical-align: text-bottom;
}

.item-search{
  position:relative;
  width: 200px;
  padding-left: 60px;
  padding-right: 340px;


}
.item-login{

  width: 100px;
  margin-right: 180px;
}


.item-login:hover{
  opacity:0.6;
}
.item-login:active{
  opacity:0.3;
}

.item-compare{
  padding-right: 40px;


}

.item-compare:hover{
  opacity:0.6;
}
.item-compare:active{
  opacity:0.3;
}



.item-cart{
  position:relative;
  padding-right: 60px;

}



.item-cart:hover{
  opacity:0.6;
}
.item-cart:active{
  opacity:0.3;
}

.site-navigator{
  position:relative;
  clear:both;
  padding-left:60px;

}

.navigation-capital{
  display:inline-block;
  vertical-align:text-top;
}

.item-catalogue{
    width:240px;
    margin-right:300px;
    position:relative;

}
.item-delivery{
  width:122px;
  margin-right: 34px;
}

.item-garancies{
  width:140px;
  margin-right:80px;
}
.item-contact{
  width:120px;


}

/*
.site-main-navigation-list-dropdown,.site-main-navigation-list-dropdown::before{
  position:absolute;
  background-color:#f7e296}
.site-main-navigation-list-dropdown{
  top:20px;
  display:none;
  min-height:144px;
  font-size:0;
  z-index:5;
  width:640px;
  padding-top:22px}

.site-main-navigation-list-dropdown::before{content:"";
bottom:0;
left:-60px;
z-index:-1;
width:1160px;
height:100%;
padding-top:0
}

.site-main-navigation-list-dropdown:hover,.item-catalogue:hover+.site-main-navigation-list-dropdown{
  display:block
}
.site-main-navigation-list-dropdown li:nth-child(3n+1){margin-right:40px}
.site-main-navigation-list-dropdown li:last-child{display:block}
.site-main-navigation-list-dropdown li,.slider-btn li{display:inline-block;vertical-align:baseline}
.site-main-navigation-list-dropdown li{width:200px}
.site-main-navigation-list-dropdown a{font-size:15px;
  line-height:36px;color:#000;
  text-decoration:none}
  */



.slider__body{
  min-width: 1040px;
  min-height: 480px;



 display:flex;
 flex-direction: row;
}

.slider-wrapper{
  min-width: 580px;
  margin-left: 10px;
  flex-grow: 0.5;



}

.slider__item-img-container{
  min-width:  580px;
  flex-grow: 0.5;



}
.slider__number-wrapper{
  display: flex;
  flex-direction: row;


}

.line{
 margin-top: 30px;
}
.slider__title{
min-height: 200px;
margin-left:auto;
margin-right: 60px;
margin-bottom:auto;
}
